@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

div
{
    margin: 0 auto;
    width: 600px;
    background-color: rgb(187, 181, 181);
}
body
{
    background-color: rgb(179, 165, 135);
}
img
{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}